In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib
%matplotlib inline
from sklearn.model_selection import train_test_split

In [2]:
# read in CRP data

df = pd.read_csv('CRPdataset.csv')

df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Label
0,0,0,1,1,1,0,1,0,0,1,...,1,1,0,0,0,1,0,1,1,1
1,1,0,1,0,1,0,0,0,1,0,...,1,1,1,0,0,0,0,0,1,0
2,1,1,0,1,0,1,1,0,1,0,...,1,0,1,1,1,0,0,1,0,0
3,0,1,0,0,0,0,1,1,0,1,...,1,1,1,1,1,0,0,1,1,0
4,1,1,0,0,0,1,1,1,0,1,...,0,1,0,1,1,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,0,1,0,1,1,1,0,0,1,0,...,1,0,0,0,0,1,1,0,0,0
11996,0,1,0,0,1,1,0,1,0,1,...,1,1,1,0,0,1,0,1,0,1
11997,1,1,1,0,0,0,1,1,0,0,...,1,1,0,1,0,1,1,0,0,0
11998,0,1,0,1,1,1,1,1,1,1,...,0,0,0,0,1,0,1,0,0,1
11999,0,0,1,1,1,0,0,1,1,1,...,1,1,1,0,0,1,1,1,0,0

In [3]:
X = df.drop('Label', axis=1)

y = df['Label']

In [5]:
y

0        1
1        0
2        0
3        0
4        1
        ..
11995    0
11996    1
11997    0
11998    1
11999    0
Name: Label, Length: 12000, dtype: int64

In [4]:
X

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,0,0,1,1,1,0,1,0,0,1,...,0,1,1,0,0,0,1,0,1,1
1,1,0,1,0,1,0,0,0,1,0,...,0,1,1,1,0,0,0,0,0,1
2,1,1,0,1,0,1,1,0,1,0,...,1,1,0,1,1,1,0,0,1,0
3,0,1,0,0,0,0,1,1,0,1,...,1,1,1,1,1,1,0,0,1,1
4,1,1,0,0,0,1,1,1,0,1,...,0,0,1,0,1,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,0,1,0,1,1,1,0,0,1,0,...,0,1,0,0,0,0,1,1,0,0
11996,0,1,0,0,1,1,0,1,0,1,...,0,1,1,1,0,0,1,0,1,0
11997,1,1,1,0,0,0,1,1,0,0,...,1,1,1,0,1,0,1,1,0,0
11998,0,1,0,1,1,1,1,1,1,1,...,1,0,0,0,0,1,0,1,0,0
11999,0,0,1,1,1,0,0,1,1,1,...,1,1,1,1,0,0,1,1,1,0

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=29)

In [56]:
from sklearn.metrics import accuracy_score

## Cohort 1

### Gaussian Naive Bayes

In [7]:
from sklearn.naive_bayes import GaussianNB

In [9]:
gnb = GaussianNB()

y_pred = gnb.fit(X_train, y_train).predict(X_test)

In [57]:
accuracy = accuracy_score(y_test, y_pred)

print('accuracy: %.2f%%' % (accuracy * 100.0))

accuracy: 53.90%

### Support Vector Machine

In [58]:
from sklearn import svm

svc_clf = svm.SVC()

svc_y_pred = svc_clf.fit(X_train, y_train).predict(X_test)

accuracy = accuracy_score(y_test, svc_y_pred)

print('accuracy: %.2f%%' % (accuracy * 100.0))

accuracy: 56.03%

### XGBoost

In [51]:
from xgboost import XGBClassifier

In [59]:
xgb = XGBClassifier()

xgb.fit(X_train, y_train).predict(X_test)

xgb_pred = xgb.predict(X_test)

accuracy = accuracy_score(y_test, xgb_pred)

print('accuracy: %.2f%%' % (accuracy * 100.0))

accuracy: 56.00%

### Random Forests

In [60]:
from sklearn.ensemble import RandomForestClassifier

In [93]:
rfc_1 = RandomForestClassifier()

rfc_1 = rfc_1.fit(X_train, y_train)

rfc_1_pred = rfc_1.predict(X_test)

accuracy = accuracy_score(y_test, rfc_1_pred)

print('accuracy: %.2f%%' % (accuracy * 100.0))

accuracy: 56.67%

## Cohort 2

### Random Forests 2

In [87]:
rfc = RandomForestClassifier(n_estimators=99)

rfc = rfc.fit(X_train, y_train)

rfc_pred = rfc.predict(X_test)

accuracy = accuracy_score(y_test, rfc_pred)

print('accuracy: %.2f%%' % (accuracy * 100.0))

accuracy: 57.07%

### XGBoost 2

In [91]:
xgb_2 = XGBClassifier(max_depth=11)

xgb_2 = xgb_2.fit(X_train, y_train)

xgb_2_pred = xgb_2.predict(X_test)

accuracy = accuracy_score(y_test, xgb_2_pred)

print('accuracy: %.2f%%' % (accuracy * 100.0))

accuracy: 57.40%